name: Scala CI

on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['adopt@1.8', 'adopt@1.11']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: set up sbt and java
      uses: olafurpg/setup-scala@v5
      with:
        java-version: ${{ matrix.java }}
    - name: Run tests
      shell: bash
      run: |
        JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF8 sbt coverage +test docs/mdoc
        sbt coverageReport coverageAggregate
    - uses: codecov/codecov-action@v1
      if: matrix.os != 'windows-latest' #doesn't work properly on Windows
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./target/scala-2.13/scoverage-report/scoverage.xml
        flags: unittests
        yml: ./.codecov.yml